.steps {
    height: 724px;
    width: 1900px;
    // border: 1px solid grey;
}
.steps_elems {
}
.steps_header {
    // border: 1px solid pink;
    height: 100px;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: -0.76px;
    color: $color_main;
    opacity: 1;
    padding-top: 60px;
}
.steps_header_decor {
    background-image: url(./../../assets/Decoration.svg);
    // width: 253px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.steps_cols_container {
    // border: 1px solid blue;
    height: 325px;
    display: flex;
    justify-content: space-around;
    background-color: #f0f1f1;
    padding: 0 414px 0 414px;
}
.step {
    // border: 1px solid grey;
    margin: auto;
    height: 172px;
    width: 175px;
}
.row_1s {
    height: 83px;
    width: 83px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}
.icon_1 {
    background-image: url(./../../assets/tshirt_Icon.png);
}
.icon_2 {
    background-image: url(./../../assets/bag_Icon.png);
}
.icon_3 {
    background-image: url(./../../assets/spyglass_icon.png);
}
.icon_4 {
    background-image: url(./../../assets/round_Icon.png);
}
.row_2s {
    height: 46px;
    font-size: 20px;
    font-weight: 600;
    color: $color_main;
    opacity: 1;
    display: table-cell;
    vertical-align: middle;
    // border: 1px solid red;
    width: 175px;
    padding: 10px 0 10px 0;
}
.row_3s {
    border-top: 2px solid $color_main;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    color: $color_main;
    opacity: 1;
}
.steps_button {
    border: 0.75px solid $color_main;
    opacity: 1;
    width: 310px;
    height: 100px;
    margin: auto;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color_main;
}
.steps_button:hover {
    text-shadow:1px 1px $color_main;
            transition: 0.2s;
}
