.RegisterPage {
    margin-top: 5rem;
    height: 30rem;
    width: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_container {
    position: relative;
    width: 50rem;
    height: 100%;
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reg_decor {
    width: 253px;
    height: 33px;
    background-image: url("./../../assets/Decoration.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px auto 20px auto;
}
.reg_login_container {
    background-color: rgb(219, 213, 213);
    height: 15rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reg_log_label {
    position: relative;
    width: 100%;
    font-size: 1rem;
    color: $color_main;
margin: 10px auto 10px 15px;
    text-align: left;
    // border: 1px solid black;
}
.reg_log_input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
    margin: 2px 15px 2px 15px;
}
.reg_button_bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.reg_register_button {
    font-size: 22px;
    margin: 3rem auto 1rem auto;
    text-decoration: none;
    color: $color_main;
    // border: 0.5px solid $color_main 0.3;
    // padding: 5px 5px 5px 5px;
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
}
.reg_register_button:hover {
    text-shadow:1px 1px $color_main;
    transition: 0.2s;
}
.nav_reg {
    width: 100%;
    height: 95px;
    position: relative;
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav_reg_login {
    height: 36px;
    width: max-content;
    // border: 1px dotted gray;
    display: flex;
}
.nav_reg_button {
    text-decoration: none;
    height: 36px;
    width: 110px;
    letter-spacing: 0px;
    color: #737373;
    opacity: 1;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
}
.nav_reg_button:hover {
    text-shadow:1px 1px $color_main;
    transition: 0.2s;
}
.nav_reg_menu {
    height: 42px;
    width: 683px;
    // border: 1px dotted palevioletred;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
.nav_reg_menu_button {
    text-decoration: none;
    color: $color_main;
    opacity: 1;
}
.nav_reg_menu_button:hover {
    text-shadow:1px 1px $color_main;
    transition: 0.2s;
}